# This is Git's per-user configuration file.
[core]
  excludesfile = ~/dotfiles/.gitignore_global
[alias]
  br = branch
  ci = commit
  co = checkout
  cp = cherry-pick
  currentbranch = "!git branch | grep \"^\\*\" | cut -d \" \" -f 2"
  lg = "!git log-pretty2"
  log-pretty1 = log --graph --pretty=format:'%h -%C(auto)%d%Creset %s %C(magenta)(<%an> %cr)%Creset'
  log-pretty2 = log --graph --format=format:'%C(dim white)%h%C(reset) -%C(auto)%d%C(reset) %C(white)%s%C(reset) %C(yellow)(%C(reset)%C(magenta)<%an> %C(dim)%cr%C(reset)%C(yellow))%C(reset)'
  lola = "!git log-pretty2 --all"
  lpull = "!git --no-pager log HEAD..origin/$(git currentbranch) --oneline"
  lpush = "!git --no-pager log origin/$(git currentbranch)..HEAD --oneline"
  pf = push --force-with-lease
  pull-all = "!git co develop && git pull && git co master && git pull && git co develop"
  purge = "!git branch  | grep -v \"\\*\" | grep -v \"master\" | grep -v \"develop\" | xargs -n 1 git branch -D"
  push-all = "!git co develop && git push && git co master && git push && git push --tags && git co develop"
  rb = rebase
  ri = rebase -i --autosquash
  rz = reset --hard HEAD
  spring = "!git branch --merged | grep -v \"\\*\" | grep -v \"master\" | grep -v \"develop\" | xargs -n 1 git branch -d"
  st = status -b -s
  stash-apply = "!f() { git stash apply stash@{$1}; }; f"
  stash-unapply = !git stash show -p | git apply -R
  stp = status --porcelain
  tt = "!git describe --tags --abbrev=0 $(git rev-list --tags --max-count=10)"
  unstage = reset HEAD
  whatscoming = "!git diff HEAD...origin/$(git currentbranch)"
  whatsnew = "!git diff origin/$(git currentbranch)...HEAD"
[diff]
  mnemonicPrefix = true
  renames = true
  wsErrorHighlight = all
  colorMoved = default
[push]
  default = current
[pull]
  rebase = merges
[remote "origin"]
  prune = true
[color]
  ui = true
  branch = auto
  diff = auto
  status = auto
  interactive = auto
[format]
  pretty = oneline
[tag]
  sort = version:refname
[versionsort]
  prereleaseSuffix = -pre
  prereleaseSuffix = .pre
  prereleaseSuffix = -beta
  prereleaseSuffix = .beta
  prereleaseSuffix = -rc
  prereleaseSuffix = .rc
[merge]
  ff = no
  conflictstyle = diff3
[gitflow "feature.finish"]
  no-ff = true
[gitflow "bugfix.finish"]
  no-ff = true
[include]
  path = ~/dotfiles/.gitconfig_user
[commit]
  gpgsign = true
[init]
  defaultBranch = master
[rebase]
  autosquash = true
